
@font-face {
  font-family: 'LahiruFont';
  src: url('optima.ttf') format('truetype');
  /* src: url('OptimaMedium.ttf') format('truetype'); */
  /* src: url('optima_b.ttf') format('truetype'); */
  /* src: url('Optima_Italic.ttf') format('truetype'); */
}


body {
  margin: 0;
  font-family: 'LahiruFont', Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'LahiruFont'
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body {
    /* overflow-y: scroll;  */
    /* scroll-snap-type: y mandatory; */
    /* height: 100vh; */
  /* overflow: hidden; */
}

html ::-webkit-scrollbar{
  display: none;
}