.TopHeaderDesktop{
    /* margin-top: 210px; */
    margin-bottom: 20px;
}

.TopHeaderDesktop-container{
    padding: 40px 100px !important;
    background-color: rgb(245, 245, 245);
    /* display: flex; */
    /* align-items: center; */
}

.TopHeaderDesktop h1{
    font-family: LahiruFont;
    font-weight: bold;
    margin: 0;
}