/* .Pricing{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
} */

.Pricing-tab{

}

/* .nav-tabs {
    border-bottom: none !important;
}

.nav-tabs .nav-link {
    border-bottom: none !important;
    border-top-left-radius: none !important;
    border-top-right-radius: none !important;
}

.nav-tabs .nav-link.active {
    color: none !important;
    background-color: none !important;
    border-bottom: 1px solid black !important;
    border-top-color:white !important;
    border-left-color:white !important;
    border-right-color:white !important;
} */