.ReactSwipeLandingCarousel {
  /* border: 2px solid red; */
    /* width: 100vw; */
    /* height: 100vh; */
    /* line-height: 100vh; */
}

.ReactSwipeLandingCarousel div {


    margin: 10px 3px 15px 3px;
    display: flex;

    /* text-align: center; */
  /* border: 2px dashed blue; */
  /* pointer-events: none; */
  /* height: 100%; */
  /* width: 100%; */
  /* display: flex; */
}
.ReactSwipeLandingCarousel div:focus {
  outline: none;
}

.ReactSwipeLandingCarousel div img {
    width: auto;
    max-width: 100%;
    max-height: 75vh;
    padding: 0;
    height: auto;
    box-shadow: 2px 7px 13px -5px rgba(0,0,0,0.75);
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    /* display: block; */










    /* max-height: 90%; */
    /* max-width: 90%; */
    /* height: auto; */
    /* width: auto; */
  /* pointer-events: all; */

  /* border: 2px dotted green; */
  /* vertical-align: middle; */

  /* margin: auto; */
}


